[submodule "Haskell"]
	path = Haskell
	url = git@github.com:USUSDW/sp22-haskell-presentation.git
[submodule "CPresentation"]
	path = CPresentation
	url = git@github.com:USUSDW/sp22-c-presentation.git
